<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Maksuturva_Makadmin>
            <version>0.1.0</version>
        </Maksuturva_Makadmin>
    </modules>

    <admin>
        <routers>
            <makadmin>
                <use>admin</use>
                <args>
                    <module>Maksuturva_Makadmin</module>
                    <frontName>makadmin</frontName>
                </args>
            </makadmin>
        </routers>
    </admin>

</config>