<?xml version="1.0"?>
<config>
    <modules>
       <Maksuturva_Maksuturva>
<!-- declare module's version information for database updates -->
          <version>0.1.0</version>
       </Maksuturva_Maksuturva>
    </modules>
 
    <global>
<!-- IMPORTANT: if you use your own namespace (i.e. CompanyName) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
    <blocks>
        <maksuturva>
            <class>Maksuturva_Maksuturva_Block</class>
        </maksuturva>

         <adminhtml>
            <rewrite>
                <sales_order_view>Maksuturva_Maksuturva_Block_Adminhtml_Sales_Order_View</sales_order_view>
            </rewrite>
        </adminhtml>

    </blocks>
 
<!-- declare model group for new module -->
        <models>
<!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <maksuturva>
<!-- base class name for the model group -->
                <class>Maksuturva_Maksuturva_Model</class>
            </maksuturva>
        </models>
 
<!-- declare resource setup for new module -->
        <resources>
<!-- resource identifier -->
            <maksuturva_setup>
<!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
<!-- which module to look for install/upgrade files in -->
                    <module>Maksuturva_Maksuturva</module>
                </setup>
<!-- specify database connection for this resource -->
                <connection>
<!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </maksuturva_setup>
            <maksuturva_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </maksuturva_write>
            <maksuturva_read>
               <connection>
                <use>core_read</use>
              </connection>
            </maksuturva_read>
        </resources>

		<admin>
	        <routers>
	            <maksuturva_admin>
	                <use>admin</use>
	                <args>
	                    <module>Maksuturva_Maksuturva</module>
	                    <frontname>maksuturva</frontname>
	                </args>
	            </maksuturva_admin>
	        </routers>
	    </admin>


    </global>

	<frontend>		
		<routers>
			<maksuturva>
				<use>standard</use>
				<args>
					<module>Maksuturva_Maksuturva</module>
					<frontName>maksuturva</frontName>
				</args>
			</maksuturva>
		</routers>
		<translate>
            <modules>
                <maksuturva>
                    <files>
                        <default>Maksuturva_Maksuturva.csv</default>
                    </files>
                </maksuturva>
            </modules>
        </translate>

	</frontend>
	
	<adminhtml>
		<translate>
            <modules>
                <maksuturva>
                    <files>
                        <default>Maksuturva_Maksuturva.csv</default>
                    </files>
                </maksuturva>
            </modules>
        </translate>
	</adminhtml>
 
<!-- declare default configuration values for this module -->
    <default>
<!-- 'payment' configuration section (tab) -->
        <payment>
<!-- 'newmodule' configuration group (fieldset) -->
            <maksuturva>
<!-- by default this payment method is inactive -->
                <active>0</active>
<!-- model to handle logic for this payment method -->
                <model>maksuturva/paymentMethod</model>
<!-- order status for new orders paid by this payment method -->
                <order_status>pending</order_status>
<!-- default title for payment checkout page and order view page -->
                <title>Maksuturva Payment</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                
				<keyversion>001</keyversion>
				<paymentdue>0</paymentdue>
				<commurl>https://www.maksuturva.fi</commurl>
				<commencoding>UTF-8</commencoding>
				<sandboxmode>1</sandboxmode>
				<emaksut>0</emaksut>
				
            </maksuturva>
         </payment>
    </default>
</config>